<script src="~/Scripts/ExternalJs/jquery.webcam.js"></script>
<script src="~/Scripts/Js/web-cam.js"></script>

<h3>Uploading Image by Capturing using Webcam:</h3>
<table>
    <tr>
        <td>
            <span>Image Name</span>
        </td>
        <td>
            <input type="text" id="txtImageName" />
        </td>
        <td>

            <div id="validateImageInput" class="warrningMessage">Please enter image name</div>
        </td>

    </tr>
    <tr>
        <td>
            <br />
            <span>Capture Image</span>
        </td>
        <td>
            <br />
            <div id="cameraArea"></div>
        </td>
        <td>
            <br />
            <div id="validateCameraInput" class="warrningMessage">Please start webcam</div>
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <input type="button" id="btnCaptureSave" value="Save Captured Image" />
        </td>
        <td>
            <br />
            <input type="button" id="btnViewImage" value="View Saved Image" />
        </td>
    </tr>
</table>
<br />
<br />
@*Container of  ViewSavedImage partial view*@
<div id="pvContainerDiv">
</div>

