
@*@section style{
    <style>
        .drag{
            width:500px;
            border:3px solid #ccc;
            border-radius:10px;
            line-height:500px;
            font-size:20px;
            text-align:center;
            margin:20px auto;
            background:#ccc;
        }
    </style>
}


@section script{

}

<div class="drag">
    拖拽上传
</div>*@